// SECTION :: START

.faq {
	padding-top: 75px;

	&.faq--service {
		.faq {
			&__wrapper {
				padding-bottom: 50px;
				border: none;
			}
		}
	}

	&__wrapper {
		padding-bottom: 150px;
		border-bottom: 1px solid rgba(#576472, 0.2);
	}

	&__title {
		padding-bottom: 50px;
	}

	&__collapse {
		display: flex;
		flex-direction: column;

		&-wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 50px;

			> div {
				&:not(:last-of-type) {
					padding-bottom: 10px;
				}
			}
		}

		&-head {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 70px;
			padding: 10px 25px;
			border-radius: 10px;
			background-color: #F8FAFF;

			&.is-active {
				i {
					transform: rotate(180deg);
					@include transition(transform);

					&:before {
						transform: rotate(90deg);
						@include transition(transform);
					}
				}
			}

			p {
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;
				color: #163A5F;
			}

			i {
				position: relative;
				display: flex;
				width: 20px;
				height: 20px;
				@include transition(transform);

				&:before,
				&:after {
					content: '';
					position: absolute;
					border-radius: 6px;
					background-color: #21bf73;
					@include transition(transform);
				}

				&:before {
					top: 0;
					left: 50%;
					width: 3px;
					height: 100%;
					transform: translateX(-50%);
				}
				&:after {
					top: 50%;
					left: 0;
					width: 100%;
					height: 3px;
					transform: translateY(-50%);
				}
			}
		}

		&-body {
			display: none;

			> div {
				padding: 20px 30px;
			}

			p {
				font-size: 16px;
				line-height: 24px;
				color: #163A5F;
			}
		}
	}

	&__desc {
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #576472;

		a {
			color: #21bf73;
			text-decoration: underline;
		}
	}
}

// SECTION :: END
