// SECTION :: START

.services-main {
	position: relative;
	padding-top: 202px;
	@include adaptive(1279) {
		padding-top: 172px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 462px;
		background-color: rgba(#21BF73, 0.1);
		@include adaptive(1279) {
			height: 432px;
		}

		span {
			position: absolute;
			border-radius: 50%;

			&:nth-of-type(1) {
				top: 218px;
				left: 167px;
				width: 40px;
				height: 40px;
				background-color: rgba(#99F3BD, 0.5);
			}
			&:nth-of-type(2) {
				top: 88px;
				right: 124px;
				width: 40px;
				height: 40px;
				background-color: rgba(#F5DEA3, 0.5);
			}
			&:nth-of-type(3) {
				right: 110px;
				top: 492px;
				width: 30px;
				height: 30px;
				background-color: rgba(#99F3BD, 0.5);
			}
			&:nth-of-type(4) {
				top: 482px;
				left: 100px;
				width: 10px;
				height: 10px;
				background-color: rgba(#F5DEA3, 0.5);
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;

		&-1 {
			padding-bottom: 80px;
		}
		&-2 {
			display: flex;
			padding-bottom: 150px;
			border-bottom: 1px solid rgba(#576472, 0.2);
		}

		&-left {
			width: 100%;
			max-width: 180px;
			padding-right: 15px;
			@include adaptive(1023) {
				display: none;
			}
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	&__title {
		padding-bottom: 40px;
		font-weight: bold;
		font-size: 36px;
		line-height: 50px;
		text-align: center;
		color: #163A5F;
		@include adaptive(1439) {
			font-size: 33px;
		}
		@include adaptive(767) {
			font-size: 24px;
			line-height: 33px;
		}

		span {
			color: #21bf73;
		}
	}

	&__search {
		display: flex;
		width: 100%;
		max-width: 840px;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		border: 2px solid #FFFFFF;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);

		> div {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0px 0px 80px rgba(28, 202, 135, 0.2);
			background-color: #FFFFFF;

			label {
				display: flex;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-right: 10px;

				input {
					outline: none;
					position: relative;
					width: 100%;
					height: 65px;
					padding: 0 25px;
					border: 1px solid darken(#F1F4F8, 1);
					box-shadow: none;
					border-radius: 8px;
					background-color: rgba(#F1F4F8, 0.5);
					font-family: 'Rubik', sans-serif;
					font-size: 16px;
					line-height: 20px;
					color: #163A5F;
					@include inputPlaceholder {
						font-family: 'Rubik', sans-serif;
						font-size: 16px;
						line-height: 20px;
						color: rgba(#163A5F, 0.5);
					}
				}
			}

			.c-btn {
				width: 100%;

				&__wrapper {
					width: 100%;
					max-width: 170px;
				}
			}
		}
	}

	&__category {
		display: none;
		align-items: center;
		padding: 6px;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 8px;
		box-shadow: 0 4px 60px 0 rgba(24, 33, 53, 0.07);
		background-color: #FFFFFF;
		@include adaptive(1023) {
			display: flex;
		}

		> div {
			&:nth-of-type(1) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-left: 4px;
				padding-right: 6px;
			}
			&:nth-of-type(1) {}
		}

		span {
			font-size: 10px;
			line-height: 12px;
			color: #576472;
		}

		p {
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: #163A5F;
		}

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			border-radius: 8px;
			background-color: rgba(#576472, 0.1);

			.icon-font {
				font-size: 8px;
				color: #163a5f;
				transform: rotate(90deg);

				&:nth-of-type(2) {
					transform: rotate(90deg) scaleX(-1);
				}
			}
		}
	}

	&__filters {
		display: none;
		@include adaptive(1023) {
			display: flex;
		}

		span {
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: #576472;

			a {
				color: #21bf73;
			}
		}
	}

	&__subtitle {
		padding-bottom: 30px;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #163A5F;
		@include adaptive(1279) {
			font-size: 22px;
		}
	}

	&__link {
		display: flex;
		flex-direction: column;

		& + .services-main__subtitle {
			padding-top: 50px;
		}

		> div {
			display: none;
			padding-bottom: 15px;
		}

		a {
			display: flex;
			font-size: 17px;
			line-height: 21px;
			color: #576472;
			@include transition(color);

			&:hover {
				color: #21BF73;
				@include transition(color);
			}

			&.is-active {
				font-weight: bold;
				color: #21BF73;

				span {
					padding-right: 5px;
				}
			}

			&:not(:last-of-type) {
				padding-bottom: 15px;
			}
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding: 40px;
		border-radius: 8px;
		background-color: rgba(#F1F4F8, 0.7);
		@include transition(background-color, transform);
		@include adaptive(1279) {
			padding: 30px 20px;
		}

		&:hover {
			background-color: rgba(#F1F4F8, 1);
			transform: translateY(-5px);
			@include transition(background-color, transform);
		}

		&-wrapper {
			position: relative;
			left: -15px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 15px);
			padding-bottom: 35px;

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				padding-left: 15px;
				padding-bottom: 15px;
			}
		}

		&-head {
			display: flex;
			align-items: center;
			padding-bottom: 15px;

			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin-right: 10px;
			}

			p {
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #163A5F;
			}
		}

		&-body {
			ul {
				display: flex;
				flex-direction: column;

				li {
					display: flex;

					&:not(:last-of-type) {
						padding-bottom: 5px;
					}

					span {
						font-size: 14px;
						line-height: 17px;
						color: #576472;
					}
				}
			}
		}
	}

	&__see {
		display: flex;
		padding: 15px;
		border-radius: 6px;
		background-color: rgba(#21BF73, 0.1);

		> div {
			&:nth-of-type(1) {
				display: flex;
				align-items: center;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-right: 15px;
			}
			&:nth-of-type(2) {
				width: 100%;
				max-width: 170px;

				.c-btn {
					width: 100%;

					&__wrapper {
						width: 100%;
					}
				}
			}
		}

		&-icon {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			border-radius: 6px;
			background-color: #FFFFFF;

			.icon-font {
				height: 18px;
				font-size: 18px;
				line-height: 18px;
				color: #21bf73;
			}
		}

		p {
			padding-left: 25px;
			font-size: 18px;
			line-height: 22px;
			color: #163A5F;
		}
	}
}

// SECTION :: END
