@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.reviews__box-author > div:nth-of-type(1) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-anchor:before, .icon-arrow:before, .icon-bell:before, .icon-checked-sq:before, .icon-image:before, .icon-list:before, .icon-plus-sq:before, .icon-toggle:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-anchor:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-arrow:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-bell:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-checked-sq:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-image:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-list:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-plus-sq:before {
  content: "";
}

/* line 59, src/scss/_generated/_spriteFont.scss */
.icon-toggle:before {
  content: "";
}

@font-face {
  font-family: "Kinetika";
  src: url("../fonts/Kinetika-Black.woff2") format("woff2"), url("../fonts/Kinetika-Black.woff") format("woff"), url("../fonts/Kinetika-Black.ttf") format("truetype"), url("../fonts/Kinetika-Black.svg#Kinetika") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "KinetikaHeavy";
  src: url("../fonts/KinetikaHeavy.woff2") format("woff2"), url("../fonts/KinetikaHeavy.woff") format("woff"), url("../fonts/KinetikaHeavy.ttf") format("truetype"), url("../fonts/KinetikaHeavy.svg#KinetikaHeavy") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Kinetika";
  src: url("../fonts/Kinetika-Bold.woff2") format("woff2"), url("../fonts/Kinetika-Bold.woff") format("woff"), url("../fonts/Kinetika-Bold.ttf") format("truetype"), url("../fonts/Kinetika-Bold.svg#Kinetika") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Kinetika";
  src: url("../fonts/Kinetika-SemiBold.woff2") format("woff2"), url("../fonts/Kinetika-SemiBold.woff") format("woff"), url("../fonts/Kinetika-SemiBold.ttf") format("truetype"), url("../fonts/Kinetika-SemiBold.svg#Kinetika") format("svg");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Kinetika";
  src: url("../fonts/Kinetika-Medium.woff2") format("woff2"), url("../fonts/Kinetika-Medium.woff") format("woff"), url("../fonts/Kinetika-Medium.ttf") format("truetype"), url("../fonts/Kinetika-Medium.svg#Kinetika") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Kinetika";
  src: url("../fonts/Kinetika-Light.woff2") format("woff2"), url("../fonts/Kinetika-Light.woff") format("woff"), url("../fonts/Kinetika-Light.ttf") format("truetype"), url("../fonts/Kinetika-Light.svg#Kinetika") format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Kinetika";
  src: url("../fonts/Kinetika-Kinetika.woff2") format("woff2"), url("../fonts/Kinetika-Kinetika.woff") format("woff"), url("../fonts/Kinetika-Kinetika.ttf") format("truetype"), url("../fonts/Kinetika-Kinetika.svg#Kinetika") format("svg");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Kinetika";
  src: url("../fonts/Kinetika-Regular.woff2") format("woff2"), url("../fonts/Kinetika-Regular.woff") format("woff"), url("../fonts/Kinetika-Regular.ttf") format("truetype"), url("../fonts/Kinetika-Regular.svg#Kinetika") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "KinetikaBook";
  src: url("../fonts/KinetikaBook.woff2") format("woff2"), url("../fonts/KinetikaBook.woff") format("woff"), url("../fonts/KinetikaBook.ttf") format("truetype"), url("../fonts/KinetikaBook.svg#KinetikaBook") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "KinetikaUltra";
  src: url("../fonts/KinetikaUltra.woff2") format("woff2"), url("../fonts/KinetikaUltra.woff") format("woff"), url("../fonts/KinetikaUltra.ttf") format("truetype"), url("../fonts/KinetikaUltra.svg#KinetikaUltra") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Black.woff2") format("woff2"), url("../fonts/Gogh-Black.woff") format("woff"), url("../fonts/Gogh-Black.ttf") format("truetype"), url("../fonts/Gogh-Black.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "GoghHeavy";
  src: url("../fonts/GoghHeavy.woff2") format("woff2"), url("../fonts/GoghHeavy.woff") format("woff"), url("../fonts/GoghHeavy.ttf") format("truetype"), url("../fonts/GoghHeavy.svg#GoghHeavy") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-ExtraBold.woff2") format("woff2"), url("../fonts/Gogh-ExtraBold.woff") format("woff"), url("../fonts/Gogh-ExtraBold.ttf") format("truetype"), url("../fonts/Gogh-ExtraBold.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Bold.woff2") format("woff2"), url("../fonts/Gogh-Bold.woff") format("woff"), url("../fonts/Gogh-Bold.ttf") format("truetype"), url("../fonts/Gogh-Bold.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Medium.woff2") format("woff2"), url("../fonts/Gogh-Medium.woff") format("woff"), url("../fonts/Gogh-Medium.ttf") format("truetype"), url("../fonts/Gogh-Medium.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GoghBook";
  src: url("../fonts/GoghBook.woff2") format("woff2"), url("../fonts/GoghBook.woff") format("woff"), url("../fonts/GoghBook.ttf") format("truetype"), url("../fonts/GoghBook.svg#GoghBook") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GoghHairline";
  src: url("../fonts/GoghHairline.woff2") format("woff2"), url("../fonts/GoghHairline.woff") format("woff"), url("../fonts/GoghHairline.ttf") format("truetype"), url("../fonts/GoghHairline.svg#GoghHairline") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Regular.woff2") format("woff2"), url("../fonts/Gogh-Regular.woff") format("woff"), url("../fonts/Gogh-Regular.ttf") format("truetype"), url("../fonts/Gogh-Regular.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Light.woff2") format("woff2"), url("../fonts/Gogh-Light.woff") format("woff"), url("../fonts/Gogh-Light.ttf") format("truetype"), url("../fonts/Gogh-Light.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Thin.woff2") format("woff2"), url("../fonts/Gogh-Thin.woff") format("woff"), url("../fonts/Gogh-Thin.ttf") format("truetype"), url("../fonts/Gogh-Thin.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 100;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Kinetika", sans-serif;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1170px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 4, src/scss/_shared/_common.scss */
.copyright__text {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #576472;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 6, src/scss/_macros/_logotype.scss */
.logo.logo--footer {
  padding-bottom: 24px;
}

/* line 10, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 15, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #163A5F;
}

/* line 12, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 65px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: transparent;
}

/* line 28, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 32, src/scss/_macros/_btn.scss */
.c-btn__wrapper--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 37, src/scss/_macros/_btn.scss */
.c-btn.c-btn--medium {
  height: 55px;
  padding-left: 30px;
  padding-right: 30px;
}

/* line 44, src/scss/_macros/_btn.scss */
.c-btn__bg--green {
  background-color: #21BF73;
}

/* line 49, src/scss/_macros/_btn.scss */
.c-btn.c-btn__border {
  border-color: #163A5F;
  background-color: transparent;
}

/* line 53, src/scss/_macros/_btn.scss */
.c-btn.c-btn__border span {
  color: #163A5F;
}

/* line 58, src/scss/_macros/_btn.scss */
.c-btn span {
  z-index: 2;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

/* line 3, src/scss/_components/common/_header.scss */
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgba(225, 230, 249, 0.5);
  -webkit-box-shadow: 0px 4px 60px rgba(24, 33, 53, 0.07);
          box-shadow: 0px 4px 60px rgba(24, 33, 53, 0.07);
  background-color: #FFFFFF;
}

/* line 13, src/scss/_components/common/_header.scss */
.header .c-grid-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 18, src/scss/_components/common/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

/* line 23, src/scss/_components/common/_header.scss */
.header__wrapper-left {
  width: 100%;
  max-width: 250px;
}

/* line 28, src/scss/_components/common/_header.scss */
.header__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 36, src/scss/_components/common/_header.scss */
.header__wrapper-right > div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 42, src/scss/_components/common/_header.scss */
.header__wrapper-right > div:nth-of-type(2) {
  width: 100%;
  max-width: 250px;
}

/* line 48, src/scss/_components/common/_header.scss */
.header__wrapper-right .c-btn {
  width: 100%;
  max-width: 112px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 54, src/scss/_components/common/_header.scss */
.header__wrapper-right .c-btn.c-btn__border {
  border-color: #B0EACD;
}

/* line 57, src/scss/_components/common/_header.scss */
.header__wrapper-right .c-btn.c-btn__border span {
  color: #21BF73;
}

/* line 62, src/scss/_components/common/_header.scss */
.header__wrapper-right .c-btn:not(:last-of-type) {
  margin-right: 10px;
}

/* line 66, src/scss/_components/common/_header.scss */
.header__wrapper-right .c-btn span {
  font-size: 14px;
}

/* line 73, src/scss/_components/common/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 78, src/scss/_components/common/_header.scss */
.header__nav a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #163A5F;
}

/* line 5, src/scss/_components/common/_footer.scss */
.footer__wrapper-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 12, src/scss/_components/common/_footer.scss */
.footer__wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 75px;
  border-top: 1px solid rgba(87, 100, 114, 0.2);
}

/* line 20, src/scss/_components/common/_footer.scss */
.footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 26, src/scss/_components/common/_footer.scss */
.footer__info {
  padding-bottom: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #576472;
}

/* line 33, src/scss/_components/common/_footer.scss */
.footer__link {
  font-size: 13px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #21BF73;
}

/* line 40, src/scss/_components/common/_footer.scss */
.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 44, src/scss/_components/common/_footer.scss */
.footer__menu:not(:last-of-type) {
  padding-right: 150px;
}

/* line 48, src/scss/_components/common/_footer.scss */
.footer__menu a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 54, src/scss/_components/common/_footer.scss */
.footer__menu a:not(:last-of-type) {
  padding-bottom: 16px;
}

/* line 3, src/scss/_components/solution/_main.scss */
.main {
  position: relative;
  padding-top: 252px;
  padding-bottom: 42px;
}

/* line 8, src/scss/_components/solution/_main.scss */
.main__bg {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1270px;
  height: 100%;
  max-height: 720px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* line 23, src/scss/_components/solution/_main.scss */
.main__bg-circle {
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* line 27, src/scss/_components/solution/_main.scss */
.main__bg-circle:nth-of-type(1) {
  left: 0;
  bottom: 217px;
  width: 10px;
  height: 10px;
  background-color: #99F3BD;
}

/* line 34, src/scss/_components/solution/_main.scss */
.main__bg-circle:nth-of-type(2) {
  left: 241px;
  bottom: 0;
  width: 25px;
  height: 25px;
  background-color: #F5DEA3;
}

/* line 41, src/scss/_components/solution/_main.scss */
.main__bg-circle:nth-of-type(3) {
  right: 0;
  bottom: 89px;
  width: 40px;
  height: 40px;
  background-color: #99F3BD;
}

/* line 48, src/scss/_components/solution/_main.scss */
.main__bg-circle:nth-of-type(4) {
  top: 0;
  right: 34px;
  width: 30px;
  height: 30px;
  background-color: #F5DEA3;
}

/* line 55, src/scss/_components/solution/_main.scss */
.main__bg-circle:nth-of-type(5) {
  top: 130px;
  left: 67px;
  width: 40px;
  height: 40px;
  background-color: #99F3BD;
}

/* line 65, src/scss/_components/solution/_main.scss */
.main__wrapper {
  z-index: 2;
  position: relative;
}

/* line 70, src/scss/_components/solution/_main.scss */
.main__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 66px;
  text-align: center;
  color: #163A5F;
}

/* line 78, src/scss/_components/solution/_main.scss */
.main__desc {
  width: 100%;
  max-width: 505px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #576472;
}

/* line 90, src/scss/_components/solution/_main.scss */
.main__btn {
  padding-bottom: 50px;
}

/* line 93, src/scss/_components/solution/_main.scss */
.main__btn .c-btn {
  -webkit-box-shadow: 0px 6px 20px rgba(40, 223, 153, 0.2), 0px 20px 30px rgba(40, 223, 153, 0.2);
          box-shadow: 0px 6px 20px rgba(40, 223, 153, 0.2), 0px 20px 30px rgba(40, 223, 153, 0.2);
}

/* line 98, src/scss/_components/solution/_main.scss */
.main__video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 102, src/scss/_components/solution/_main.scss */
.main__video video {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 3, src/scss/_components/solution/_partners.scss */
.partners {
  padding-top: 42px;
  padding-bottom: 75px;
}

/* line 7, src/scss/_components/solution/_partners.scss */
.partners__title {
  padding-bottom: 50px;
}

/* line 11, src/scss/_components/solution/_partners.scss */
.partners__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 15, src/scss/_components/solution/_partners.scss */
.partners__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 20, src/scss/_components/solution/_partners.scss */
.partners__box-wrapper > div {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 24, src/scss/_components/solution/_partners.scss */
.partners__box-wrapper > div:first-of-type {
  padding-left: 0;
}

/* line 27, src/scss/_components/solution/_partners.scss */
.partners__box-wrapper > div:last-of-type {
  padding-right: 0;
}

/* line 33, src/scss/_components/solution/_partners.scss */
.partners__box img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_components/solution/_feature.scss */
.feature {
  padding-top: 75px;
  padding-bottom: 99px;
}

/* line 7, src/scss/_components/solution/_feature.scss */
.feature__title {
  padding-bottom: 50px;
}

/* line 11, src/scss/_components/solution/_feature.scss */
.feature__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 17, src/scss/_components/solution/_feature.scss */
.feature__box--reverse .feature__box-left {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

/* line 20, src/scss/_components/solution/_feature.scss */
.feature__box--reverse .feature__box-left video {
  margin-left: auto;
}

/* line 24, src/scss/_components/solution/_feature.scss */
.feature__box--reverse .feature__box-right {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 0;
}

/* line 31, src/scss/_components/solution/_feature.scss */
.feature__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 36, src/scss/_components/solution/_feature.scss */
.feature__box-wrapper > div:not(:last-of-type) {
  padding-bottom: 100px;
}

/* line 42, src/scss/_components/solution/_feature.scss */
.feature__box-left {
  width: -webkit-calc((100% / 2) + 40px);
  width: calc((100% / 2) + 40px);
}

/* line 46, src/scss/_components/solution/_feature.scss */
.feature__box-right {
  width: -webkit-calc((100% / 2) - 40px);
  width: calc((100% / 2) - 40px);
  padding-left: 100px;
}

/* line 52, src/scss/_components/solution/_feature.scss */
.feature__box-left video {
  display: block;
  max-width: 80%;
  height: auto;
}

/* line 59, src/scss/_components/solution/_feature.scss */
.feature__box-title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  line-height: 46px;
  color: #163A5F;
}

/* line 67, src/scss/_components/solution/_feature.scss */
.feature__box-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 435px;
  padding-bottom: 30px;
}

/* line 74, src/scss/_components/solution/_feature.scss */
.feature__box-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 78, src/scss/_components/solution/_feature.scss */
.feature__box-list li:not(:last-of-type) {
  padding-bottom: 20px;
}

/* line 83, src/scss/_components/solution/_feature.scss */
.feature__box-list li > div:nth-of-type(1) {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 1px solid rgba(87, 100, 114, 0.1);
  -webkit-box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
          box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
  background-color: #FFFFFF;
}

/* line 95, src/scss/_components/solution/_feature.scss */
.feature__box-list li > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 20px;
}

/* line 103, src/scss/_components/solution/_feature.scss */
.feature__box-list li .icon-font {
  font-size: 18px;
  color: #21bf73;
}

/* line 108, src/scss/_components/solution/_feature.scss */
.feature__box-list li p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #576472;
}

/* line 3, src/scss/_components/solution/_additional.scss */
.additional {
  position: relative;
  padding-top: 100px;
}

/* line 7, src/scss/_components/solution/_additional.scss */
.additional__bg {
  z-index: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
}

/* line 18, src/scss/_components/solution/_additional.scss */
.additional__bg > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 42%;
  padding-right: 80px;
  padding-top: 153px;
}

/* line 26, src/scss/_components/solution/_additional.scss */
.additional__bg > div:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  height: 800px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
          transform: translateX(40%);
  background-color: rgba(176, 234, 205, 0.1);
}

@media screen and (max-width: 1535px) {
  /* line 26, src/scss/_components/solution/_additional.scss */
  .additional__bg > div:after {
    width: 650px;
    height: 650px;
  }
}

/* line 43, src/scss/_components/solution/_additional.scss */
.additional__bg > div img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 51, src/scss/_components/solution/_additional.scss */
.additional__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 56, src/scss/_components/solution/_additional.scss */
.additional__wrapper > div {
  width: 55%;
}

/* line 61, src/scss/_components/solution/_additional.scss */
.additional__title {
  padding-bottom: 50px;
  text-align: left;
}

/* line 68, src/scss/_components/solution/_additional.scss */
.additional__box-wrapper {
  position: relative;
  left: -70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: -webkit-calc(100% + 70px);
  width: calc(100% + 70px);
}

/* line 75, src/scss/_components/solution/_additional.scss */
.additional__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 2);
  max-width: calc(100% / 2);
  padding-left: 70px;
  padding-bottom: 70px;
}

/* line 83, src/scss/_components/solution/_additional.scss */
.additional__box h3 {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #163A5F;
}

/* line 91, src/scss/_components/solution/_additional.scss */
.additional__box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #576472;
}

/* line 97, src/scss/_components/solution/_additional.scss */
.additional__box p a {
  color: #21bf73;
  text-decoration: underline;
}

/* line 3, src/scss/_components/solution/_reviews.scss */
.reviews {
  position: relative;
  padding-top: 100px;
  padding-bottom: 75px;
}

/* line 8, src/scss/_components/solution/_reviews.scss */
.reviews__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 16, src/scss/_components/solution/_reviews.scss */
.reviews__bg-circle {
  position: absolute;
  top: -webkit-calc(100px + 10%);
  top: calc(100px + 10%);
  left: 30%;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgba(245, 222, 163, 0.5);
}

/* line 27, src/scss/_components/solution/_reviews.scss */
.reviews .c-grid {
  z-index: 2;
  position: relative;
}

/* line 32, src/scss/_components/solution/_reviews.scss */
.reviews__title {
  padding-bottom: 50px;
}

/* line 36, src/scss/_components/solution/_reviews.scss */
.reviews__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 40, src/scss/_components/solution/_reviews.scss */
.reviews__wrapper-left {
  width: 75px;
}

/* line 44, src/scss/_components/solution/_reviews.scss */
.reviews__wrapper-middle {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 50, src/scss/_components/solution/_reviews.scss */
.reviews__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 75px;
}

/* line 57, src/scss/_components/solution/_reviews.scss */
.reviews__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: rgba(176, 234, 205, 0.3);
  -webkit-box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
          box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 68, src/scss/_components/solution/_reviews.scss */
.reviews__btn.swiper-button-disabled {
  pointer-events: none;
  -webkit-box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
          box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
  background-color: rgba(87, 100, 114, 0.1);
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 74, src/scss/_components/solution/_reviews.scss */
.reviews__btn.swiper-button-disabled .icon-font {
  color: #576472;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 81, src/scss/_components/solution/_reviews.scss */
.reviews__btn--next .icon-font {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* line 86, src/scss/_components/solution/_reviews.scss */
.reviews__btn .icon-font {
  color: #21bf73;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 92, src/scss/_components/solution/_reviews.scss */
.reviews__box {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* line 98, src/scss/_components/solution/_reviews.scss */
.reviews__box-title {
  padding-bottom: 60px;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #576472;
}

/* line 107, src/scss/_components/solution/_reviews.scss */
.reviews__box-author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 285px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/* line 117, src/scss/_components/solution/_reviews.scss */
.reviews__box-author > div:nth-of-type(1) {
  overflow: hidden;
  position: relative;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* line 128, src/scss/_components/solution/_reviews.scss */
.reviews__box-author > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 20px;
}

/* line 135, src/scss/_components/solution/_reviews.scss */
.reviews__box-author > div p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #163A5F;
}

/* line 142, src/scss/_components/solution/_reviews.scss */
.reviews__box-author > div span {
  font-size: 14px;
  line-height: 22px;
  color: #163A5F;
}

/* line 152, src/scss/_components/solution/_reviews.scss */
.reviews__box-btn .c-btn span {
  font-size: 14px;
  line-height: 17px;
}

/* line 3, src/scss/_components/solution/_plans.scss */
.plans {
  position: relative;
  padding-top: 75px;
  padding-bottom: 100px;
}

/* line 8, src/scss/_components/solution/_plans.scss */
.plans__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
}

/* line 18, src/scss/_components/solution/_plans.scss */
.plans__bg-overlay {
  width: 100%;
  height: -webkit-calc(100% - 525px);
  height: calc(100% - 525px);
  background-color: rgba(33, 191, 115, 0.2);
}

/* line 24, src/scss/_components/solution/_plans.scss */
.plans__bg-circle {
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* line 28, src/scss/_components/solution/_plans.scss */
.plans__bg-circle:nth-of-type(1) {
  top: 15px;
  right: 30%;
  width: 20px;
  height: 20px;
  background-color: rgba(245, 222, 163, 0.5);
}

/* line 35, src/scss/_components/solution/_plans.scss */
.plans__bg-circle:nth-of-type(2) {
  top: 20%;
  right: 110px;
  width: 30px;
  height: 30px;
  background-color: rgba(153, 243, 189, 0.5);
}

/* line 45, src/scss/_components/solution/_plans.scss */
.plans__wrapper {
  z-index: 2;
  position: relative;
}

/* line 49, src/scss/_components/solution/_plans.scss */
.plans__wrapper-1 {
  padding-bottom: 143px;
}

/* line 53, src/scss/_components/solution/_plans.scss */
.plans__wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 58, src/scss/_components/solution/_plans.scss */
.plans__wrapper-left, .plans__wrapper-right {
  width: 50%;
}

/* line 63, src/scss/_components/solution/_plans.scss */
.plans__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 69, src/scss/_components/solution/_plans.scss */
.plans__desc {
  padding-bottom: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #576472;
}

/* line 77, src/scss/_components/solution/_plans.scss */
.plans__option {
  position: relative;
}

/* line 80, src/scss/_components/solution/_plans.scss */
.plans__option-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

/* line 87, src/scss/_components/solution/_plans.scss */
.plans__option input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* line 96, src/scss/_components/solution/_plans.scss */
.plans__option input:checked + label span {
  color: #576472;
}

/* line 99, src/scss/_components/solution/_plans.scss */
.plans__option input:checked + label span:nth-of-type(2) {
  color: #163a5f;
}

/* line 105, src/scss/_components/solution/_plans.scss */
.plans__option input:checked + label u:after {
  left: 60px;
}

/* line 113, src/scss/_components/solution/_plans.scss */
.plans__option label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 117, src/scss/_components/solution/_plans.scss */
.plans__option label span {
  position: relative;
  display: block;
  width: 95px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: #576472;
}

/* line 126, src/scss/_components/solution/_plans.scss */
.plans__option label span:nth-of-type(1) {
  color: #163a5f;
  text-align: right;
}

/* line 131, src/scss/_components/solution/_plans.scss */
.plans__option label span i {
  position: absolute;
  top: -webkit-calc(100% + 1px);
  top: calc(100% + 1px);
  left: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #21bf73;
}

/* line 142, src/scss/_components/solution/_plans.scss */
.plans__option label u {
  cursor: pointer;
  position: relative;
  width: 90px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #21BF73;
  text-decoration: none;
}

/* line 153, src/scss/_components/solution/_plans.scss */
.plans__option label u:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px #179558;
          box-shadow: 1px 1px 10px #179558;
  background-color: #FFFFFF;
}

/* line 168, src/scss/_components/solution/_plans.scss */
.plans__box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 30px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid rgba(45, 57, 88, 0.2);
  background-color: #FFFFFF;
}

/* line 178, src/scss/_components/solution/_plans.scss */
.plans__box.is-active {
  top: -13px;
  height: -webkit-calc(100% + 26px);
  height: calc(100% + 26px);
  border: 2px solid #21BF73;
  -webkit-box-shadow: 0px 2px 10px rgba(45, 57, 88, 0.05);
          box-shadow: 0px 2px 10px rgba(45, 57, 88, 0.05);
}

/* line 185, src/scss/_components/solution/_plans.scss */
.plans__box.is-active .plans__box-price {
  color: #21bf73;
}

/* line 191, src/scss/_components/solution/_plans.scss */
.plans__box-shadow {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -45px;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 204, src/scss/_components/solution/_plans.scss */
.plans__box-dino {
  z-index: -1;
  position: absolute;
  top: -44px;
  right: -44px;
}

/* line 210, src/scss/_components/solution/_plans.scss */
.plans__box-dino-hand {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 218, src/scss/_components/solution/_plans.scss */
.plans__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 222, src/scss/_components/solution/_plans.scss */
.plans__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc((100% - 45px) / 4);
  max-width: calc((100% - 45px) / 4);
}

/* line 228, src/scss/_components/solution/_plans.scss */
.plans__box-head, .plans__box-body, .plans__box-footer {
  width: 100%;
}

/* line 234, src/scss/_components/solution/_plans.scss */
.plans__box-head {
  position: relative;
}

/* line 238, src/scss/_components/solution/_plans.scss */
.plans__box-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 1px;
  max-height: 100%;
  padding-top: 30px;
  margin-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid rgba(45, 57, 88, 0.2);
}

/* line 248, src/scss/_components/solution/_plans.scss */
.plans__box-badge {
  padding-bottom: 35px;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #163A5F;
}

/* line 256, src/scss/_components/solution/_plans.scss */
.plans__box-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #163A5F;
}

/* line 266, src/scss/_components/solution/_plans.scss */
.plans__box-price i {
  padding-right: 5px;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
}

/* line 274, src/scss/_components/solution/_plans.scss */
.plans__box-top {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 20px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: rgba(176, 234, 205, 0.2);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #21BF73;
}

/* line 291, src/scss/_components/solution/_plans.scss */
.plans__box-info {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: rgba(87, 100, 114, 0.8);
}

/* line 298, src/scss/_components/solution/_plans.scss */
.plans__box-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 302, src/scss/_components/solution/_plans.scss */
.plans__box-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 305, src/scss/_components/solution/_plans.scss */
.plans__box-list li:not(:last-of-type) {
  padding-bottom: 16px;
}

/* line 310, src/scss/_components/solution/_plans.scss */
.plans__box-list li > div:nth-of-type(1) {
  width: 30px;
}

/* line 313, src/scss/_components/solution/_plans.scss */
.plans__box-list li > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 321, src/scss/_components/solution/_plans.scss */
.plans__box-list span {
  font-size: 14px;
  line-height: 20px;
  color: #163A5F;
}

/* line 328, src/scss/_components/solution/_plans.scss */
.plans__box-link {
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #163A5F;
}

/* line 349, src/scss/_components/solution/_plans.scss */
.plans__box .c-btn {
  width: 100%;
}

/* line 352, src/scss/_components/solution/_plans.scss */
.plans__box .c-btn-wrapper {
  width: 100%;
}

/* line 358, src/scss/_components/solution/_plans.scss */
.plans__subtitle {
  font-size: 64px;
  line-height: 88px;
  color: #21BF73;
}

/* line 363, src/scss/_components/solution/_plans.scss */
.plans__subtitle strong {
  font-weight: 700;
}

/*# sourceMappingURL=maps/app.css.map */
