---
title: StatusGator | Service

pageClassName: p-service
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/service/_service
		include components/service/_main

		include components/service/_recent

		include components/homepage/_solutions
		include components/homepage/_instant

		include components/service/_support
		include components/service/_twitter
		include components/service/_faq
		include components/service/_suite
