---
title: StatusGator | Sign Up

pageClassName: p-signup
---
extends shared/_layout

block header
block footer
block content
	div.body.body--start(class!= pageClassName)

		include components/sign/_sign
