---
title: StatusGator | Solution | Education

pageClassName: p-solution
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/solution/_main
    include components/solution/_partners
    include components/solution/_feature
    include components/solution/_reviews
    include components/solution/_plans
