// SECTION :: START

section#faq.faq.faq--service
	.c-grid

		p.faq__title.c-title Frequently Asked Questions

		.faq__wrapper

			.faq__collapse-wrapper
				div
					.faq__collapse
						.faq__collapse-head
							div
								h3 Is G Suit down today?
							div
								i
						.faq__collapse-body
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet assumenda atque consequuntur cupiditate dignissimos dolor dolore, dolores, ea eligendi esse eveniet expedita iure magni minus nulla odio perferendis possimus provident quae, quas reprehenderit repudiandae sint sit temporibus velit voluptas voluptatem! Ad dolorem earum ipsa maxime nam, nisi nobis tempora.
				div
					.faq__collapse
						.faq__collapse-head
							div
								h3 How can I get notified when G Suite is not working or have outages?
							div
								i
						.faq__collapse-body
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem beatae, dolorem earum error est exercitationem expedita explicabo ipsa non, obcaecati placeat quisquam sapiente sequi, similique temporibus vero voluptatibus! Dolore facere illum ipsam reprehenderit ut, velit veritatis. Autem doloribus ducimus eveniet maiores provident. Amet atque autem corporis cumque et eveniet facere, ipsa iusto libero magnam maiores modi nam natus nesciunt nihil nisi obcaecati quia rem, repellat sapiente sed temporibus voluptas voluptatem? Aperiam assumenda, commodi consequatur delectus deserunt earum error eum eveniet, ex facere obcaecati perspiciatis quas quibusdam soluta sunt veritatis voluptate? Ea illum magni veritatis? Amet aperiam at corporis minima nisi nostrum tempora temporibus! Atque autem beatae cum distinctio, esse est fugit, laboriosam officia pariatur, porro quam reprehenderit totam voluptates?
				div
					.faq__collapse
						.faq__collapse-head
							div
								h3 How can I find out it G Suit is having issues?
							div
								i
						.faq__collapse-body
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem beatae, dolorem earum error est exercitationem expedita explicabo ipsa non, obcaecati placeat quisquam sapiente sequi, similique temporibus vero voluptatibus! Dolore facere illum ipsam reprehenderit ut, velit veritatis. Autem doloribus ducimus eveniet maiores provident. Amet atque autem corporis cumque et eveniet facere, ipsa iusto libero magnam maiores modi nam natus nesciunt nihil nisi obcaecati quia rem, repellat sapiente sed temporibus voluptas voluptatem? Aperiam assumenda, commodi consequatur delectus deserunt earum error eum eveniet, ex facere obcaecati perspiciatis quas quibusdam soluta sunt veritatis voluptate? Ea illum magni veritatis? Amet aperiam at corporis minima nisi nostrum tempora temporibus! Atque autem beatae cum distinctio, esse est fugit, laboriosam officia pariatur, porro quam reprehenderit totam voluptates?
				div
					.faq__collapse
						.faq__collapse-head
							div
								h3 G Suite status page says the service is up, but I’m having issues. What’s wrong?
							div
								i
						.faq__collapse-body
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aspernatur consequuntur cumque debitis eos fuga id necessitatibus nisi numquam odit, praesentium quia quidem, quo ratione reiciendis reprehenderit saepe similique sint sunt tenetur totam ut vel? Accusantium ad adipisci culpa dolor expedita, explicabo facilis in ipsa necessitatibus nisi possimus quam qui quos ratione repellat sint vel. Aperiam aut hic laboriosam nobis officiis sed totam. Fugiat incidunt nulla praesentium quia sapiente sit soluta ut! Assumenda consectetur consequuntur culpa delectus, ea eius eligendi enim, esse facere facilis harum ipsam ipsum laboriosam, nam neque perspiciatis quaerat quia quis repudiandae similique tenetur vel voluptatem?


// SECTION :: END
