// SECTION :: START

section#last.last
	.c-grid

		h2.last__title.c-title 3 status changes in the last 24 hours
		p.last__desc Amazon Web Services Status, Last 24 Hours

		.last__wrapper

			a.status__box(href="#lastDetails" popup-status-js data-effect='mfp-zoom-in')
				.status__box-head

					.status__box-line-wrapper
						div(style="display: none;")
						div
							.status__box-line
								span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Up:</strong> 23 hours" style='left: 2%; width: 10px; background-color: #BBBFCA;')
								span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Warn:</strong> 10 minutes" style='left: 12%; width: 100px; background-color: #FFB26B;')
								span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Down:</strong> 45 minutes" style='left: 58%; width: 10px; background-color: #FD5E53;')
								span(data-toggle="tooltip" data-html="true" data-placement="bottom" title="<strong>Maintenance:</strong> None" style='left: 70%; width: 10px; background-color: #E9E9E2;')

				.status__box-time.status__box-time--desktop
					div
						span 5:00 PM
					div
						span 9:00 PM
					div
						span 1:00 AM
					div
						span 5:00 AM
					div
						span 9:00 AM
					div
						span 1:00 PM

				.status__box-time.status__box-time--mobile
					div
						span 6hrs
					div
						span 12hrs
					div
						span 18hrs
					div
						span 24hrs

				.status__box-body
					ul
						li.warning0
							p!= "<strong>Up:</strong> 23 hours"
						li.warning2
							p!= "<strong>Warn:</strong> 10 minutes"
						li.warning5
							p!= "<strong>Down:</strong> 45 minutes"
						li.warning01
							p!= "<strong>Maintenance:</strong> None"

				.status__box-footer
					a.status__preview(href="#lastDetails" popup-status-js data-effect='mfp-zoom-in')
						i.icon-font.icon-eye
						span Click to Enlarge

// SECTION :: END
