// SECTION :: START

section#recent.recent
	.c-grid

		h2.recent__title.c-title Recent G Suite Outages and Issues
		p.recent__desc Follow the recent outages and downtime for G Suite in the table below.

		.recent__wrapper

			.recent__table
				table
					thead
						tr
							th
								p Start Time
							th
								p Type
							th
								p Length
							th
								p Message
							th
								p Details
					tbody
						each val, idx in [1,2,3,4,5,6,7,8,9,10]
							tr
								td
									p Novemer 18, 2020 12:27 UTC
								td
									i WARM
								td
									p about 1 hour
								td
									p Problem affecting Gmail, Google Keep, and Blogger
								td
									a(href="#") Learn more
									a(href="#") See more

				.recent__sign
					div
						p.recent__sign-title Sign Up for More G Suite History
						p.recent__sign-desc StatusGator has over 5 years of G Suite status history.

						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
								span Sign Up

// SECTION :: END
