// SECTION :: START

section#recent.recent
	.c-grid

		h2.recent__title.c-title Recent G Suite Outages and Issues
		p.recent__desc Follow the recent outages and downtime for G Suite in the table below.

		.recent__wrapper

			.recent__img
				img(src="img/img-recent.svg" alt="")

				.recent__sign
					div
						p.recent__sign-title Sign Up for More G Suite History
						p.recent__sign-desc StatusGator has over 5 years of G Suite status history.

						.c-btn__wrapper.c-btn__wrapper--center
							a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
								span Sign Up

// SECTION :: END
