// SECTION :: START

section#service.service
	.c-grid--fluid
		.service__wrapper
			div
				.service__icon
					i.icon-font.icon-checked-sq-filled
			div
				// .short
				// .long
				p.long Current Clemson Computing & Information Technology status is up
				span!= "We checked the official G Suite status page 3 min 45 sec ago. <a href='#'>Learn more</a>"

// SECTION :: END
