mixin modalContent()
	.c-modal__body
		a.c-modal__close(href="#" popup-close-js)
			i.icon-font.icon-close

		p.c-modal__title Some title text
		p.c-modal__desc
			| We checked the official G Suite status page 3 min 45 sec ago.
			br
			br
			| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

+modal('serviceDetails', 'modalContent')
