// SECTION :: START

section.service
	.c-grid-fluid
		.service__wrapper
			div
				.service__icon
					i.icon-font.icon-checked-sq-filled
			div
				// .short
				// .long
				h1.long Current Clemson Computing & Information Technology status is up
				span!= "We checked the official G Suite status page 3 min 45 sec ago. <a href='#serviceDetails' popup-js data-effect='mfp-zoom-in'>Learn more</a>"

		//.service__wrapper
			div
				.service__icon
					i.icon-font.icon-checked-sq-filled
			div
				// .short
				// .long
				h1.short Current Clemson Computing
				span!= "We checked the official G Suite status page 3 min 45 sec ago. <a href='#serviceDetails' popup-js data-effect='mfp-zoom-in'>Learn more</a>"

// SECTION :: END
