// SECTION :: START

section#suite.suite
	.c-grid
		.suite__wrapper
			.suite__wrapper-left

				h2.suite__title G Suite Down?
				p.suite__desc Are you experiencing issues with G Suite? Please share your issues below and let other know. Sign up to receive notifications when G Suite published outages.

			.suite__wrapper-right

				.c-btn__wrapper
					a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
						span Sign up

// SECTION :: END
