// SECTION :: START

section#support.support
	.c-grid

		h2.support__title.c-title Supported Features
		p.support__desc We support the following features in our integration with the G Suite status page

		.support__wrapper

			.support__collapse-wrapper
				div
					.support__collapse
						.support__collapse-head
							div
								label
									input(type='checkbox' name='' placeholder='' checked)
									span
										u
										i Warn Notifications
							div
								.support__collapse-toggle
									i

						.support__collapse-body
							div
								p Is G Suite is having system outages or experiencing other critical issues, red down notifications appear on the status page. In most cases, it means that core functions are not working properly, or there is some other serious customer-impacting event underway.

				div
					.support__collapse
						.support__collapse-head
							div
								label
									input(type='checkbox' name='' placeholder='')
									span
										u
										i Differentiates Maintenance Notices
							div
								.support__collapse-toggle
									i

						.support__collapse-body
							div
								p Is G Suite is having system outages or experiencing other critical issues, red down notifications appear on the status page. In most cases, it means that core functions are not working properly, or there is some other serious customer-impacting event underway.

				div
					.support__collapse
						.support__collapse-head
							div
								label
									input(type='checkbox' name='' placeholder='' checked)
									span
										u
										i Proactive Maintenance Monitoring
							div
								.support__collapse-toggle
									i

						.support__collapse-body
							div
								p Is G Suite is having system outages or experiencing other critical issues, red down notifications appear on the status page. In most cases, it means that core functions are not working properly, or there is some other serious customer-impacting event underway.

				div
					.support__collapse
						.support__collapse-head
							div
								label
									input(type='checkbox' name='' placeholder='' checked)
									span
										u
										i Status Overview
							div
								.support__collapse-toggle
									i

						.support__collapse-body
							div
								p Is G Suite is having system outages or experiencing other critical issues, red down notifications appear on the status page. In most cases, it means that core functions are not working properly, or there is some other serious customer-impacting event underway.

				div
					.support__collapse
						.support__collapse-head
							div
								label
									input(type='checkbox' name='' placeholder='')
									span
										u
										i Status Details
							div
								.support__collapse-toggle
									i

						.support__collapse-body
							div
								p Is G Suite is having system outages or experiencing other critical issues, red down notifications appear on the status page. In most cases, it means that core functions are not working properly, or there is some other serious customer-impacting event underway.

				div
					.support__collapse
						.support__collapse-head
							div
								label
									input(type='checkbox' name='' placeholder='')
									span
										u
										i Component Status Filtering
							div
								.support__collapse-toggle
									i

						.support__collapse-body
							div
								p Is G Suite is having system outages or experiencing other critical issues, red down notifications appear on the status page. In most cases, it means that core functions are not working properly, or there is some other serious customer-impacting event underway.

// SECTION :: END
