// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper.footer__wrapper-1
      .footer__wrapper-left

        .logo.logo--footer
          a.logo__btn(href="#")
            img.logo__img(src="img/logo.svg" alt="")

        p.footer__info!= "A Service of Nimble Industries"
        a.footer__link(href="mailto:hi@statusgator.com") hi@statusgator.com

      .footer__wrapper-right

        nav.footer__menu.footer__menu-1
          a(href="#") Plans & Pricing
          a(href="#") New Services
          a(href="#") Blog
          a(href="#") Twitter
          a(href="#") All Services

        nav.footer__menu.footer__menu-2
          a(href="#") FAQ
          a(href="#") Support
          a(href="#") Privacy Policy
          a(href="#") Terms
          a(href="#") Status

    .footer__wrapper.footer__wrapper-2

      .copyright
        p.copyright__text Copyright ©2015-2021 StatusGator

// FOOTER :: END
