// HEADER :: START

header#header.header
	.c-grid-fluid
		.header__wrapper
			.header__wrapper-left
				div

					+hamburger()

					.logo.logo--header
						a.logo__btn(href="#")
							img.logo__img(src="img/logo.svg" alt="")

				div

					.c-btn__wrapper
						a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
							span Sign Up

			.header__wrapper-right(mobile-block-js)
				div
					.logo.logo--header
						a.logo__btn(href="#")
							img.logo__img(src="img/logo.svg" alt="")

					a.header__close(href="#")
						i.icon-font.icon-close

				div

					nav.header__nav
						a(href="#") Home
						a(href="#") Services
						a(href="#") Plans & Pricing
						a(href="#") Blog

				div

					.c-btn__wrapper
						a.c-btn.c-btn__border.c-btn--medium(href="#")
							span Sign in
						a.c-btn.c-btn__bg.c-btn__bg--green.c-btn--medium(href="#")
							span Sign Up

// HEADER :: END
