// SECTION :: START

.solutions {
	position: relative;
	padding-top: 50px;
	padding-bottom: 150px;
	@include adaptive(767) {
		padding-top: 25px;
		padding-bottom: 50px;
	}

	&__title {
		padding-bottom: 60px;
		@include adaptive(767) {
			padding-bottom: 20px;
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;

		&-left,
		&-right {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include adaptive(1279) {
				position: relative;
			}
			@include adaptive(767) {
				display: none;
			}
		}

		&-left {
			left: 0;
			transform: translateX(-200%) translateY(-50%);
			@include adaptive(1365) {
				transform: translateX(-100%) translateY(-50%);
			}
			@include adaptive(1279) {
				transform: translateX(0) translateY(-50%);
			}
		}

		&-middle {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}

		&-right {
			right: 0;
			transform: translateX(200%) translateY(-50%);
			@include adaptive(1365) {
				transform: translateX(100%) translateY(-50%);
			}
			@include adaptive(1279) {
				transform: translateX(0) translateY(-50%);
			}
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 6px;
		background: rgba(176, 234, 205, 0.3);
		box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
		@include transition(box-shadow, background-color);

		&:hover {
			background-color: #21bf73;
			@include transition(box-shadow, background-color);

			.icon-font {
				color: #ffffff;
				@include transition(color);
			}
		}

		&.swiper-button-disabled {
			pointer-events: none;
			box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
			background-color: rgba(#576472, 0.1);
			@include transition(box-shadow, background-color);

			.icon-font {
				color: #576472;
				@include transition(color);
			}
		}

		&--next {
			.icon-font {
				transform: scaleX(-1);
			}
		}

		.icon-font {
			width: 14px;
			height: 14px;
			line-height: 14px;
			color: #21bf73;
			font-size: 14px;
			@include transition(color);
		}
	}

	&__slider {
		padding-left: 30px;
		padding-right: 30px;
		@include adaptive(767) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__box {
		&-wrapper {
			display: flex;
			flex-direction: column;
		}

		&-head {
			display: flex;
			align-items: center;
			padding-bottom: 24px;
			@include adaptive(1279) {
				min-height: 114px;
			}
			@include adaptive(767) {
				cursor: pointer;
				min-height: 70px;
				padding: 20px;
				border-radius: 10px;
				box-shadow: 0 5px 60px 0 rgba(22, 58, 95, 0.06);
				background-color: #FFFFFF;

				&.is-active {
					p {
						&:after {
							transform: rotate(-225deg);
							@include transition(transform);
						}
					}
				}
			}

			> div {
				&:nth-of-type(1) {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 50px;
					height: 50px;
					border-radius: 10px;
					background-color: rgba(#21BF73, 0.1);
					@include adaptive(767) {
						width: 30px;
						height: 30px;
						border-radius: 6px;
					}
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					padding-left: 20px;
				}
			}

			.icon-font {
				font-size: 18px;
				color: #21bf73;
				@include adaptive(767) {
					font-size: 14px;
				}
			}

			p {
				font-size: 36px;
				line-height: 45px;
				color: #163A5F;
				@include adaptive(1439) {
					font-size: 33px;
				}
				@include adaptive(767) {
					position: relative;
					padding-right: 20px;
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						margin-top: -5px;
						width: 10px;
						height: 10px;
						border-left: 2px solid #163A5F;
						border-bottom: 2px solid #163A5F;
						transform: rotate(-45deg);
						@include transition(transform);
					}
				}
			}
		}

		&-body {
			@include respondCustom('(min-width: 768px)') {
				display: block !important;
			}
			@include adaptive(767) {
				display: none ;

				> div {
					padding: 20px;
				}
			}
			
			ul {
				display: flex;
				flex-direction: column;
				padding-left: 20px;

				li {
					list-style: disc;
					font-size: 20px;
					color: #21bf73;
					@include adaptive(767) {
						font-size: 15px;
					}

					&:not(:last-of-type) {
						padding-bottom: 5px;
						@include adaptive(767) {
							padding-bottom: 15px;
						}
					}
				}

				span {
					font-size: 18px;
					line-height: 28px;
					color: #576472;
					@include adaptive(767) {
						font-size: 13px;
						line-height: 15px;
						color: #576472;
					}
				}
			}
		}
	}
	
	.swiper {
		&-container {
			@include adaptive(767) {
				overflow: unset;
			}
		}

		&-wrapper {
			@include adaptive(767) {
			  flex-direction: column;
			}
		}

		&-slide {
			@include adaptive(767) {
				&:not(:last-of-type) {
					padding-bottom: 10px;
				}
			}
		}
	}
}

// SECTION :: END
