// META TAGS
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0")
meta(http-equiv="x-ua-compatible" content="ie=edge")

// TITLE
title!= title

// FAVICON
// link(rel="shortcut icon" href="./icon/favicon.ico")
// link(rel="icon" type="image/png" href="./icon/favicon.png")

link(href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.15/swiper-bundle.min.css')

include _style
