// BUTTON :: START

// ==================================================

$bth-height: 65px;
$btn-border-width: 2px;
$btn-border-color: transparent;
$bth-border-radius: 6px;

// ==================================================

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: $bth-height;
  padding-left: 40px;
  padding-right: 40px;
  border: $btn-border-width solid $btn-border-color;
  box-shadow: none;
  border-radius: $bth-border-radius;
  background-color: transparent;

  &__wrapper {
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }
  }

  &.c-btn--medium {
    height: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__bg {
    &--green {
      background-color: #21BF73;
      @include transition(background-color);

      &:hover {
        background-color: lighten(#21BF73, 5%);
        @include transition(background-color);
      }
    }
  }

  &.c-btn__border {
    border-color: #163A5F;
    background-color: transparent;
    @include transition(background-color);

    &:hover {
      background-color: #163A5F;
      @include transition(background-color);

      span {
        color: #ffffff;
        @include transition(color);
      }
    }

    span {
      color: #163A5F;
      @include transition(color);
    }
  }

  span {
    z-index: 2;
    position: relative;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
  }
}

// BUTTON :: END
