// LOGOTYPE :: START

.logo {
	display: flex;

	&.logo--header {
		@include adaptive(767) {
		  .logo {
				&__btn {
					max-width: 77px;
				}
			}
		}
	}
	&.logo--footer {
		padding-bottom: 24px;
		@include adaptive(767) {
			padding-bottom: 0;

			.logo {
				&__btn {
					max-width: 90px;
				}
			}
		}
	}
	&.logo--sign {
		padding-bottom: 90px;
		@include adaptive(1535) {
			padding-bottom: 40px;
		}
	}

	&__btn {
		display: flex;
		align-items: flex-start;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// LOGOTYPE :: END
