// SECTION :: START

section#additional.additional

  .additional__bg
    div
      
      img(src="img/img-additional.svg" alt="")

  .c-grid
    .additional__wrapper

      div

        h2.additional__title.c-title Additional Features

        .additional__box-wrapper
          div
            .additional__box
              h3 Setup in 3 minutes
              p Pick services, select notofication method, add logo to a dashboard - and this is it!
          div
            .additional__box
              h3 Free plan forever
              p Use our generous free plan which is enough for small projects.
          div
            .additional__box
              h3 1050+ services aggregated
              p!= "Recieve aggregated and normalized data from 1050+ services. Can’t find your services? <a href='#'>Click here</a>"
          div
            .additional__box
              h3 Various notifications and API
              p Get notified to any channel - Email, SMS, Slack, MS Teams, Discord, API, etc.

  include _reviews

// SECTION :: END
