// SECTION :: START

section#feature.feature
  .c-grid

    h2.feature__title.c-title Features

    .feature__wrapper

      .feature__box-wrapper
        div
          .feature__box.feature__box--normal
            .feature__box-left

              video(autoplay muted)
                source(src='img/feature_solution_education-1.mp4' type='video/mp4')

            .feature__box-right

              h3.feature__box-title!= "Status Dashboards <br>for Students/Parents"

              ul.feature__box-list
                li
                  div
                    i.icon-font.icon-list
                  div
                    p Choose from 1050+ services hand-picked for educational organizations
                li
                  div
                    i.icon-font.icon-image
                  div
                    p Branded with your logo, colors, and domain
                li
                  div
                    i.icon-font.icon-anchor
                  div
                    p Publish one link with the status of all your services

              .c-btn__wrapper
                a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
                  span Free Trial
        div
          .feature__box.feature__box--reverse
            .feature__box-left

              video(autoplay muted)
                source(src='img/feature_solution_education-2.mp4' type='video/mp4')

            .feature__box-right

              h3.feature__box-title!= "Instant Notifications <br>for Your Team"

              ul.feature__box-list
                li
                  div
                    i.icon-font.icon-bell
                  div
                    p Notify your IT team when issues are detected or resolved
                li
                  div
                    i.icon-font.icon-checked-sq
                  div
                    p Send to email, SMS, Slack, or Teams
                li
                  div
                    i.icon-font.icon-toggle
                  div
                    p Flexible filters to send only when needed

              .c-btn__wrapper
                a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
                  span Free Trial
        div
          .feature__box.feature__box--normal
            .feature__box-left

              video(autoplay muted)
                source(src='img/feature_solution_education-3.mp4' type='video/mp4')

            .feature__box-right

              h3.feature__box-title!= "Set up in 3 minutes"

              ul.feature__box-list
                li
                  div
                    i.icon-font.icon-list
                  div
                    p Simply click services you want to monitor from a list
                li
                  div
                    i.icon-font.icon-plus-sq
                  div
                    p Add your logo and notification channels
                li
                  div
                    i.icon-font.icon-anchor
                  div
                    p Publish a link to a dashboard

              .c-btn__wrapper
                a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
                  span Free Trial

// SECTION :: END
