// SECTION :: START

section#main.main
  .c-grid
    .main__wrapper

      h1.main__title Reduce Student Support Burden
      h2.main__desc Our instant status dashboards aggregates the status of all the services your students and teachers use.

      .main__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
          span Start with Free Trial

// SECTION :: END
