// SECTION :: START

section#partners.partners
	.c-grid
		.partners__wrapper

			h2.partners__title.c-title Trusted by 127 education institutions

			.partners__box-wrapper
				div
					a.partners__box(href="#")
						img(src="img/img-partners-1.png" srcset="img/img-partners-1@2x.png 2x" alt="")
				div
					a.partners__box(href="#")
						img(src="img/img-partners-2.png" srcset="img/img-partners-2@2x.png 2x" alt="")
				div
					a.partners__box(href="#")
						img(src="img/img-partners-3.png" srcset="img/img-partners-3@2x.png 2x" alt="")
				div
					a.partners__box(href="#")
						img(src="img/img-partners-4.png" srcset="img/img-partners-4@2x.png 2x" alt="")
				div
					a.partners__box(href="#")
						img(src="img/img-partners-5.png" srcset="img/img-partners-5@2x.png 2x" alt="")

// SECTION :: END
