// SECTION :: START

.additional {
	position: relative;
	padding-top: 100px;
	@include adaptive(767) {
		padding-top: 25px;
	}

	&__bg {
		z-index: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		@include adaptive(767) {
			overflow: unset;
			position: relative;
		}

		> div {
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
			width: 42%;
			padding-right: 80px;
			padding-top: 153px;
			@include adaptive(1279) {
				padding-right: 0;
			}
			@include adaptive(767) {
				width: 100%;
				padding-top: 0;
				padding-right: 0;
			}

			span {
				z-index: -1;
				position: absolute;
				top: 0;
				right: 0;
				width: 800px;
				height: 800px;
				border-radius: 50%;
				transform: translateX(40%);
				background-color: rgba(#B0EACD, 0.1);
				@include adaptive(1535) {
					width: 650px;
					height: 650px;
				}
				@include adaptive(767) {
					left: 0;
					width: 360px;
					height: 360px;
					margin-left: auto;
					margin-right: auto;
					transform: unset;
				}
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				@include adaptive(767) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;

		> div {
			width: 55%;
			@include adaptive(767) {
				width: 100%;
			}
		}
	}

	&__title {
		padding-bottom: 50px;
		text-align: left;
		@include adaptive(767) {
			padding-bottom: 30px;
		}
	}

	&__box {
		&-wrapper {
			position: relative;
			left: -70px;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 70px);
			@include adaptive(767) {
				left: 0;
				width: 100%;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 2);
				padding-left: 70px;
				padding-bottom: 70px;
				@include adaptive(767) {
					max-width: 100%;
					padding-left: 0;
					padding-bottom: 25px;
				}
			}
		}

		h3 {
			padding-bottom: 10px;
			@extend %fontGogh;
			font-weight: bold;
			font-size: 24px;
			line-height: 33px;
			color: #163A5F;
			@include adaptive(767) {
				font-size: 20px;
				line-height: 28px;
			}
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #576472;
			@include adaptive(767) {
				font-size: 14px;
				line-height: 22px;
			}

			a {
				color: #21bf73;
				text-decoration: underline;
			}
		}
	}
}

// SECTION :: END
