// SECTION :: START

.feature {
	padding-top: 75px;
	padding-bottom: 99px;
	@include adaptive(767) {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	&__title {
		padding-bottom: 50px;
		@include adaptive(767) {
			padding-bottom: 45px;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		@include adaptive(767) {
			flex-wrap: wrap;

			&-1,
			&-3 {
				.feature__box {
					&-left {
						padding-bottom: 25px;
					}
				}
			}
		}

		&--reverse {
			.feature__box {
				&-left {
					order: 2;
					@include adaptive(767) {
						order: 1;
						padding-bottom: 25px;
					}

					video {
						margin-left: auto;
					}
				}
				&-right {
					order: 1;
					padding-left: 100px;
					@include adaptive(1439) {
						padding-left: 75px;
					}
					@include adaptive(1279) {
						padding-left: 25px;
					}
					@include adaptive(1023) {
						padding-left: 0;
					}
					@include adaptive(767) {
						order: 2;
					}
				}
			}
		}

		&-wrapper {
			display: flex;
			flex-direction: column;

			> div {
				&:not(:last-of-type) {
					padding-bottom: 100px;
					@include adaptive(767) {
						padding-bottom: 50px;
					}
				}
			}
		}

		&-left {
			width: calc((100% / 2) + 40px);
			@include adaptive(767) {
				width: 100%;
			}

			.feature__box-title {
				display: none;
				@include adaptive(767) {
					display: block;
				}
			}

			video {
				display: block;
				max-width: 80%;
				height: auto;
				@include adaptive(767) {
					max-width: 100%;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		&-right {
			width: calc((100% / 2) - 40px);
			padding-left: 100px;
			@include adaptive(1439) {
				padding-left: 75px;
			}
			@include adaptive(1279) {
				padding-left: 25px;
			}
			@include adaptive(1023) {
				padding-left: 0;
			}
			@include adaptive(767) {
				width: 100%;
			}

			.feature__box-title {
				@include adaptive(767) {
					display: none;
				}
			}
		}

		&-title {
			padding-bottom: 30px;
			@extend %fontGogh;
			font-weight: bold;
			font-size: 30px;
			line-height: 46px;
			color: #163A5F;
			@include adaptive(1023) {
				font-size: 26px;
			}
			@include adaptive(767) {
				padding-bottom: 20px;
				font-size: 20px;
				line-height: 30px;

				br {
					display: none;
				}
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 435px;
			padding-bottom: 30px;
			@include adaptive(767) {
				padding-bottom: 20px;
			}

			li {
				display: flex;
				align-items: center;

				&:not(:last-of-type) {
					padding-bottom: 20px;
				}

				> div {
					&:nth-of-type(1) {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 50px;
						height: 50px;
						border-radius: 10px;
						border: 1px solid rgba(87, 100, 114, 0.1);
						box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
						background-color: #FFFFFF;
						@include adaptive(767) {
							width: 40px;
							height: 40px;
						}
					}
					&:nth-of-type(2) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
						padding-left: 20px;
					}
				}

				.icon-font {
					font-size: 18px;
					height: 18px;
					line-height: 18px;
					color: #21bf73;
					@include adaptive(767) {
						font-size: 15px;
					}
				}

				p {
					font-size: 18px;
					font-weight: 400;
					line-height: 22px;
					color: #576472;
					@include adaptive(1023) {
						font-size: 16px;
					}
					@include adaptive(767) {
						font-size: 14px;
						line-height: 22px;
					}
				}
			}
		}

		&-btn {
			@include adaptive(767) {
				.c-btn {
					width: 100%;
				}
			}
		}
	}
}

// SECTION :: END
