// SECTION :: START

.feature {
	padding-top: 75px;
	padding-bottom: 99px;

	&__title {
		padding-bottom: 50px;
	}

	&__box {
		display: flex;
		align-items: center;

		&--reverse {
			.feature__box {
				&-left {
					order: 2;

					video {
						margin-left: auto;
					}
				}
				&-right {
					order: 1;
					padding-left: 0;
				}
			}
		}

		&-wrapper {
			display: flex;
			flex-direction: column;

			> div {
				&:not(:last-of-type) {
					padding-bottom: 100px;
				}
			}
		}

		&-left {
			width: calc((100% / 2) + 40px);
		}

		&-right {
			width: calc((100% / 2) - 40px);
			padding-left: 100px;
		}

		&-left {
			video {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}

		&-title {
			padding-bottom: 40px;
			font-weight: bold;
			font-size: 30px;
			line-height: 46px;
			color: #163A5F;
		}

		&-list {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 435px;
			padding-bottom: 50px;

			li {
				display: flex;
				align-items: center;

				&:not(:last-of-type) {
					padding-bottom: 25px;
				}

				> div {
					&:nth-of-type(1) {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 50px;
						height: 50px;
						border-radius: 10px;
						border: 1px solid rgba(87, 100, 114, 0.1);
						box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
						background-color: #FFFFFF;
					}
					&:nth-of-type(2) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
						padding-left: 20px;
					}
				}

				.icon-font {
					font-size: 18px;
					color: #21bf73;
				}

				p {
					font-size: 18px;
					font-weight: 500;
					line-height: 22px;
					color: #576472;
				}
			}
		}
	}
}

// SECTION :: END
