// SECTION :: START

.main {
	position: relative;
	padding-top: 252px;
	padding-bottom: 42px;
	@include adaptive(1279) {
		padding-top: 222px;
	}
	@include adaptive(767) {
		padding-top: 92px;
		padding-bottom: 25px;
	}

	&.main--service {
		padding-top: 100px;
		@include adaptive(1279) {
			padding-top: 50px;
		}
		@include adaptive(767) {
			padding-top: 20px;
		}

		.main {
			&__title {
				padding-bottom: 50px;
				font-size: 44px;
				@include adaptive(1535) {
					font-size: 36px;
				}
				@include adaptive(767) {
					max-width: 100%;
					padding-bottom: 20px;
				}
			}

			&__btn {
				@include adaptive(767) {
				  .c-btn {
						width: 100%;
					}
				}
			}
		}
	}
	&.main--homepage {
		.main {
			&__title {
				@include adaptive(767) {
					max-width: 100%;
				}
			}

			&__btn {
				@include adaptive(767) {
				  .c-btn {
						width: 100%;
					}
				}
			}
		}
	}

	&__bg {
		z-index: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 1270px;
		height: 100%;
		max-height: 720px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(767) {
			opacity: 0.55;
		}

		&-circle {
			position: absolute;
			border-radius: 50%;

			&:nth-of-type(1) {
				left: 0;
				bottom: 217px;
				width: 10px;
				height: 10px;
				background-color: #99F3BD;
			}
			&:nth-of-type(2) {
				left: 241px;
				bottom: 0;
				width: 25px;
				height: 25px;
				background-color: #F5DEA3;
			}
			&:nth-of-type(3) {
				right: 0;
				bottom: 89px;
				width: 40px;
				height: 40px;
				background-color: #99F3BD;
			}
			&:nth-of-type(4) {
				top: 0;
				right: 34px;
				width: 30px;
				height: 30px;
				background-color: #F5DEA3;
			}
			&:nth-of-type(5) {
				top: 130px;
				left: 67px;
				width: 40px;
				height: 40px;
				background-color: #99F3BD;
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__title {
		padding-bottom: 10px;
		@extend %fontGogh;
		font-size: 48px;
		font-weight: 800;
		line-height: 66px;
		text-align: center;
		color: #163A5F;
		@include adaptive(1439) {
			font-size: 44px;
		}
		@include adaptive(767) {
			width: 100%;
			max-width: 200px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 10px;
			font-size: 24px;
			line-height: 33px;
		}
	}

	&__desc {
		width: 100%;
		max-width: 535px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 50px;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: #576472;
		@include adaptive(767) {
			width: 100%;
			max-width: 300px;
			padding-bottom: 20px;
			font-size: 14px;
			line-height: 22px;
		}
	}

	&__btn {
		padding-bottom: 50px;
		@include adaptive(767) {
			padding-bottom: 32px;
		}

		.c-btn {
			box-shadow: 0px 6px 20px rgba(40, 223, 153, 0.2), 0px 20px 30px rgba(40, 223, 153, 0.2);
			@include adaptive(767) {
			  box-shadow: none;
			}
		}
	}

	&__video {
		display: flex;
		align-items: flex-start;

		video {
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// SECTION :: END
