// SECTION :: START

.main {
	position: relative;
	padding-top: 252px;
	padding-bottom: 42px;

	&__bg {
		z-index: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		max-width: 1270px;
		height: 100%;
		max-height: 720px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;

		&-circle {
			position: absolute;
			border-radius: 50%;

			&:nth-of-type(1) {
				left: 0;
				bottom: 217px;
				width: 10px;
				height: 10px;
				background-color: #99F3BD;
			}
			&:nth-of-type(2) {
				left: 241px;
				bottom: 0;
				width: 25px;
				height: 25px;
				background-color: #F5DEA3;
			}
			&:nth-of-type(3) {
				right: 0;
				bottom: 89px;
				width: 40px;
				height: 40px;
				background-color: #99F3BD;
			}
			&:nth-of-type(4) {
				top: 0;
				right: 34px;
				width: 30px;
				height: 30px;
				background-color: #F5DEA3;
			}
			&:nth-of-type(5) {
				top: 130px;
				left: 67px;
				width: 40px;
				height: 40px;
				background-color: #99F3BD;
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__title {
		font-size: 48px;
		font-weight: 800;
		line-height: 66px;
		text-align: center;
		color: #163A5F;
	}

	&__desc {
		width: 100%;
		max-width: 505px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 50px;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		color: #576472;
	}

	&__btn {
		padding-bottom: 50px;

		.c-btn {
			box-shadow: 0px 6px 20px rgba(40, 223, 153, 0.2), 0px 20px 30px rgba(40, 223, 153, 0.2);
		}
	}

	&__video {
		display: flex;
		align-items: flex-start;

		video {
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// SECTION :: END
