// SECTION :: START

.partners {
	padding-top: 42px;
	padding-bottom: 75px;
	@include adaptive(767) {
		padding-top: 25px;
		padding-bottom: 0;
	}

	&__title {
		padding-bottom: 50px;
		@include adaptive(767) {
			padding-bottom: 40px;
		}
	}

	&__box {
		display: flex;
		align-items: flex-start;

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include adaptive(767) {
				flex-wrap: wrap;
				justify-content: center;
			}

			> div {
				padding-left: 15px;
				padding-right: 15px;
				@include adaptive(1279) {
					padding-left: 20px;
					padding-right: 20px;
				}
				@include adaptive(767) {
					width: 100%;
					max-width: calc(100% / 3);
					padding-bottom: 25px;
				}

				&:first-of-type {
					padding-left: 0;
				}
				&:last-of-type {
					padding-right: 0;
				}
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

// SECTION :: END
