// SECTION :: START

.reviews {
	position: relative;
	padding-top: 100px;
	padding-bottom: 75px;

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&-circle {
			position: absolute;
			top: calc(100px + 10%);
			left: 30%;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: rgba(#F5DEA3, 0.5);
		}
	}

	.c-grid {
		z-index: 2;
		position: relative;
	}

	&__title {
		padding-bottom: 50px;
	}

	&__wrapper {
		display: flex;
		align-items: center;

		&-left {
			width: 75px;
		}

		&-middle {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}

		&-right {
			display: flex;
			justify-content: flex-end;
			width: 75px;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 6px;
		background: rgba(176, 234, 205, 0.3);
		box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
		@include transition(box-shadow, background-color);

		&.swiper-button-disabled {
			pointer-events: none;
			box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
			background-color: rgba(#576472, 0.1);
			@include transition(box-shadow, background-color);

			.icon-font {
				color: #576472;
				@include transition(color);
			}
		}

		&--next {
			.icon-font {
				transform: scaleX(-1);
			}
		}

		.icon-font {
			color: #21bf73;
			@include transition(color);
		}
	}
	
	&__box {
		width: 100%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;

		&-title {
			padding-bottom: 60px;
			font-weight: 500;
			font-size: 22px;
			line-height: 30px;
			text-align: center;
			color: #576472;
		}

		&-author {
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 285px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 60px;

			> div {
				&:nth-of-type(1) {
					overflow: hidden;
					position: relative;
					width: 60px;
					height: 60px;
					border-radius: 50%;

					img {
						@extend %imageResCoverAbs;
					}
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					padding-left: 20px;
				}

				p {
					font-weight: 600;
					font-size: 16px;
					line-height: 22px;
					color: #163A5F;
				}

				span {
					font-size: 14px;
					line-height: 22px;
					color: #163A5F;
				}
			}
		}

		&-btn {
			.c-btn {
				span {
					font-size: 14px;
					line-height: 17px;
				}
			}
		}
	}
}

// SECTION :: END
