// HEADER :: START

.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid rgba(#E1E6F9, 0.5);
	box-shadow: 0 4px 60px 0 rgba(24, 33, 53, 0.07);
	background-color: #FFFFFF;
	@include adaptive(767) {
		border-bottom: 2px solid rgba(#E1E6F9, 0);
		box-shadow: 0 4px 60px 0 rgba(24, 33, 53, 0);
		background-color: transparent;

		&.is-color {
			border-color: rgba(#E1E6F9, 0.5);
			box-shadow: 0 4px 60px 0 rgba(24, 33, 53, 0.07);
			background-color: #FFFFFF;
			@include transition();
		}
	}

	.c-grid-fluid {
		padding-left: 50px;
		padding-right: 50px;
		@include adaptive(1279) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		min-height: 80px;
		@include adaptive(767) {
			min-height: auto;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&-left {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			max-width: 250px;
			@include adaptive(1023) {
				max-width: 100%;
			}

			> div {
				&:nth-of-type(1) {
					display: flex;
					align-items: center;
				}
			}

			.hamburger {
				display: none;
				margin-right: 14px;
				@include adaptive(1023) {
					display: flex;
				}
			}

			.c-btn {
				@include adaptive(767) {
					height: 38px;
					padding-left: 20px;
					padding-right: 20px;

					span {
						font-size: 14px;
					}
				}

				&__wrapper {
					display: none;
					@include adaptive(1023) {
						display: flex;
					}
				}
			}
		}

		&-right {
			display: flex;
			align-items: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1023) {
				z-index: 999;
				opacity: 0;
				visibility: hidden;
				transform: translateX(-100%);
				position: fixed;
				top: 0;
				left: 0;
				flex-direction: column;
				width: 100%;
				height: 100%;
				padding: 16px;
				background-color: #ffffff;
				@include transition(opacity, visibility, transform);

				&.is-open {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include transition(opacity, visibility, transform);
				}
			}

			> div {
				&:nth-of-type(1) {
					display: none;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					@include adaptive(1023) {
						display: flex;
					}
					@include adaptive(767) {
						height: auto;
					}
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					@include adaptive(1023) {
						overflow-y: auto;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						padding: 32px;
					}
				}

				&:nth-of-type(3) {
					display: flex;
					justify-content: flex-end;
					width: 100%;
					max-width: 250px;
					@include adaptive(1023) {
						max-width: 100%;
					}
				}
			}

			.c-btn {
				white-space: nowrap;
				width: 100%;
				min-width: 112px;
				padding-left: 10px;
				padding-right: 10px;
				@include adaptive(1023) {
					min-width: 100%;
				}

				&.c-btn__border {
					border-color: #B0EACD;
					@include transition(border-color, background-color);

					&:hover {
						border-color: #21BF73;
						background-color: #21BF73;
						@include transition(border-color, background-color);

						span {
							color: #ffffff;
						}
					}

					span {
						color: #21BF73;
					}
				}
				
				&__wrapper {
					@include adaptive(1023) {
					  flex-direction: column;
						width: 100%;
					}
				}

				&:not(:last-of-type) {
					margin-right: 10px;
					@include adaptive(1023) {
						margin-right: 0;
						margin-bottom: 10px;
					}
				}

				span {
					font-size: 14px;
				}
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptive(1023) {
		  flex-direction: column;
		}

		a {
			position: relative;
			display: flex;
			align-items: center;
			padding-left: 5px;
			padding-right: 5px;
			margin-left: 20px;
			margin-right: 20px;
			font-size: 16px;
			font-weight: 400;
			//line-height: 20px;
			text-align: center;
			color: #163A5F;
			@include adaptive(1279) {
				margin-left: 15px;
				margin-right: 15px;
			}
			@include adaptive(1023) {
				font-size: 18px;

				&:not(:last-of-type) {
					margin-bottom: 40px;
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 1px;
				background-color: #163A5F;
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}

			&:hover {
				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}
		}
	}

	&__close {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 34px;
		height: 34px;
		border-radius: 10px;
		background-color: rgba(#6C6C71, 0.1);

		.icon-font {
			color: #6c6c71;
			height: 8px;
			font-size: 8px;
			line-height: 8px;
		}
	}
}

// HEADER :: END
