// HEADER :: START

.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid rgba(#E1E6F9, 0.5);
	box-shadow: 0px 4px 60px rgba(24, 33, 53, 0.07);
	background-color: #FFFFFF;

	.c-grid-fluid {
		padding-left: 50px;
		padding-right: 50px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		height: 80px;

		&-left {
			width: 100%;
			max-width: 250px;
		}

		&-right {
			display: flex;
			align-items: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;

			> div {
				&:nth-of-type(1) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}

				&:nth-of-type(2) {
					width: 100%;
					max-width: 250px;
				}
			}

			.c-btn {
				width: 100%;
				max-width: 112px;
				padding-left: 10px;
				padding-right: 10px;

				&.c-btn__border {
					border-color: #B0EACD;

					span {
						color: #21BF73;
					}
				}

				&:not(:last-of-type) {
					margin-right: 10px;
				}

				span {
					font-size: 14px;
				}
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			display: flex;
			align-items: center;
			padding-left: 15px;
			padding-right: 15px;
			margin-left: 10px;
			margin-right: 10px;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			text-align: center;
			color: #163A5F;
		}
	}
}

// HEADER :: END
