// SECTION :: START

.last {
	padding-top: 75px;
	padding-bottom: 75px;

	&__desc {
		padding-bottom: 50px;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #576472;
	}
}

// SECTION :: END
