// SECTION :: START

.status {
	padding-top: 75px;
	padding-bottom: 75px;

	&__title {
		padding-bottom: 10px;
	}

	&__desc {
		width: 100%;
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		color: #576472;
	}

	&__box {
		display: flex;
		flex-direction: column;
		padding: 35px 40px 15px;
		border-radius: 10px;
		box-shadow: 0 5px 60px 0 rgba(22, 58, 95, 0.06);
		background-color: #FFFFFF;

		&-head {
			padding-bottom: 40px;
		}

		&-body {
			ul {
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				li {
					display: flex;
					align-items: center;
					padding-bottom: 20px;

					&.warning0 {
						p {
							&:before {
								background-color: #BBBFCA;
							}
						}
					}
					&.warning01 {
						p {
							&:before {
								background-color: #E9E9E2;
							}
						}
					}
					&.warning1 {
						p {
							&:before {
								background-color: #ffd56b;
							}
						}
					}
					&.warning2 {
						p {
							&:before {
								background-color: #FFB26B;
							}
						}
					}
					&.warning3 {
						p {
							&:before {
								background-color: #FF7B54;
							}
						}
					}
					&.warning4 {
						p {
							&:before {
								background-color: #EF5A2E;
							}
						}
					}
					&.warning5 {
						p {
							&:before {
								background-color: #FD5E53;
							}
						}
					}

					&:not(:last-of-type) {
						padding-right: 20px;
					}

					p {
						position: relative;
						padding-left: 20px;
						font-size: 16px;
						line-height: 20px;
						color: #576472;

						strong {
							font-weight: 500;
						}

						&:before {
							content: '';
							z-index: 5;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: 0;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							background-color: #ffffff;
						}
					}
				}
			}
		}

		&-line {
			position: relative;
			width: 100%;
			height: 50px;
			border-radius: 5px;
			background-color: #f4f4f2;

			> span {
				position: absolute;
				top: -5px;
				height: calc(100% + 10px);
				border-radius: 3px;
			}

			&-wrapper {
				display: flex;
				align-items: center;

				&:not(:last-of-type) {
					padding-bottom: 20px;
				}

				> div {
					&:nth-of-type(1) {
						width: 100%;
						max-width: 160px;

						p {
							font-size: 20px;
							line-height: 37px;
							color: #163A5F;
						}
					}
					&:nth-of-type(2) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
					}
				}
			}
		}

		&-time {
			display: flex;
			align-items: center;
			padding-bottom: 35px;

			> div {
				display: flex;
				align-items: center;
				flex: 1;
				min-width: 1px;
				max-width: 100%;

				&:not(:first-of-type):not(:last-of-type) {
					justify-content: center;
				}

				&:last-of-type {
					justify-content: flex-end;
				}

				span {
					color: #163a5f;
				}
			}
		}
	}

	&__action {
		display: flex;
		align-items: center;

		> div {
			&:nth-of-type(1) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-right: 30px;
			}
			&:nth-of-type(2) {
				display: flex;
				align-items: center;
			}
		}
	}

	&__pagination {
		position: relative;
		width: 100%;
		height: 2px;
		background-color: #edf0f3;

		> span {
			top: -2px !important;
			height: 6px !important;
			border-radius: 6px;
			background-color: #21BF73 !important;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 6px;
		background: rgba(176, 234, 205, 0.3);
		box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
		@include transition(box-shadow, background-color);

		&:not(:last-of-type) {
			margin-right: 10px;
		}

		&:hover {
			background-color: #21bf73;
			@include transition(box-shadow, background-color);

			.icon-font {
				color: #ffffff;
				@include transition(color);
			}
		}

		&.swiper-button-disabled {
			pointer-events: none;
			box-shadow: 0px 10px 30px rgba(22, 58, 95, 0.05);
			background-color: rgba(#576472, 0.1);
			@include transition(box-shadow, background-color);

			.icon-font {
				color: #576472;
				@include transition(color);
			}
		}

		&--next {
			.icon-font {
				transform: scaleX(-1);
			}
		}

		.icon-font {
			width: 14px;
			height: 14px;
			line-height: 14px;
			color: #21bf73;
			font-size: 14px;
			@include transition(color);
		}
	}

	.swiper {
		&-container {
			position: relative;
			left: -50px;
			width: calc(100% + 100px);
			padding: 50px;
		}
	}
}

// SECTION :: END
