// SECTION :: START

section#instant.instant
	.c-grid

		h2.instant__title.c-title!= "Instant enriched data from <br><span>1000 status pages</span>"

		.instant__wrapper

			.instant__img
				img(src="img/img-instant.svg" alt="")

// SECTION :: END
