// SECTION :: START

section#main.main

	.main__bg(parallax-js)
		.main__bg-circle(data-stellar-ratio="1.1")
		.main__bg-circle(data-stellar-ratio="0.9")
		.main__bg-circle(data-stellar-ratio="1.05")
		.main__bg-circle(data-stellar-ratio="0.95")
		.main__bg-circle(data-stellar-ratio="1.25")

	.c-grid
		.main__wrapper

			h1.main__title Instant Cloud Status Monitoring
			h2.main__desc Our instant status dashboards aggregates the status of all the services your students and teachers use.

			.main__btn.c-btn__wrapper.c-btn__wrapper--center
				a.c-btn.c-btn__bg.c-btn__bg--green(href="#")
					span Start with Free Trial

			.main__video
				video(autoplay muted loop)
					source(src='img/main_solution_education.mp4' type="video/mp4")

// SECTION :: END
