// SECTION :: START

section#solutions.solutions
	.c-grid

		h2.solutions__title.c-title Solutions for everyone

		.solutions__wrapper
			.solutions__wrapper-left

				a.solutions__btn.solutions__btn--prev(href="#")
					i.icon-font.icon-arrow

			.solutions__wrapper-middle

				.solutions__slider
					.swiper-container.solutionsSwiper
						.swiper-wrapper
							.swiper-slide(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
								a.solutions__box-wrapper(href="#" itemprop="url")
									.solutions__box-head
										div
											i.icon-font.icon-book
										div
											h3(itemprop="title") For Education
									.solutions__box-body
										div
											ul
												li
													span Keep parents and students informed
												li
													span Reduce tickets volume
												li
													span Essential for remote learning
											p.solutions__box-more
												| Learn more
												i.icon-font.icon-arrow

							.swiper-slide(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
								a.solutions__box-wrapper(href="#" itemprop="url")
									.solutions__box-head
										div
											i.icon-font.icon-code
										div
											h3(itemprop="title") DevOps
									.solutions__box-body
										div
											ul
												li
													span Shorten downtimes
												li
													span Unified maintenance notice
												li
													span Integrates with your incident tools
											p.solutions__box-more
												| Learn more
												i.icon-font.icon-arrow

							.swiper-slide(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
								a.solutions__box-wrapper(href="#" itemprop="url")
									.solutions__box-head
										div
											i.icon-font.icon-message-q
										div
											h3(itemprop="title") IT HelpDesk
									.solutions__box-body
										div
											ul
												li
													span Reduce ticket volumes
												li
													span Improve transparency
												li
													span Shorten resolution times
											p.solutions__box-more
												| Learn more
												i.icon-font.icon-arrow

			.solutions__wrapper-right

				a.solutions__btn.solutions__btn--next(href="#")
					i.icon-font.icon-arrow


// SECTION :: END
