// SECTION :: START

section#trust.trust
	.c-grid

		h2.trust__title.c-title!= "Trusted by <span>11,750</span> organizations"

		.trust__wrapper
			
			.swiper-container.trustSwiper
				.swiper-wrapper
					.swiper-slide
						img(src="img/img-trust-1.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-2.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-3.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-4.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-5.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-6.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-7.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-8.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-9.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-10.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-11.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-12.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-13.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-14.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-15.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-16.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-17.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-18.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-19.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-20.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-21.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-22.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-23.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-24.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-25.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-26.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-27.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-28.svg" alt="")

			.trust__pagination

// SECTION :: END
