// SECTION :: START

section#trust.trust
	.c-grid

		h2.trust__title.c-title!= "Trusted by <span>11,750</span> organizations"

		.trust__wrapper
			
			.swiper-container.trustSwiper
				.swiper-wrapper
					.swiper-slide
						img(src="img/img-trust-1.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-2.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-3.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-4.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-5.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-1.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-2.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-3.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-4.svg" alt="")
					.swiper-slide
						img(src="img/img-trust-5.svg" alt="")

			.trust__pagination

// SECTION :: END
