// SECTION :: START

section#faq.faq
	.c-grid

		p.faq__title.c-title Frequently Asked Questions

		.faq__wrapper

			.faq__collapse-wrapper
				div
					.faq__collapse
						.faq__collapse-head
							div
								p Does your organization have unique needs?
							div
								i
						.faq__collapse-body
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet assumenda atque consequuntur cupiditate dignissimos dolor dolore, dolores, ea eligendi esse eveniet expedita iure magni minus nulla odio perferendis possimus provident quae, quas reprehenderit repudiandae sint sit temporibus velit voluptas voluptatem! Ad dolorem earum ipsa maxime nam, nisi nobis tempora.
				div
					.faq__collapse
						.faq__collapse-head
							div
								p Do you have special SLA, reporting, or invoicing requirements?
							div
								i
						.faq__collapse-body
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda autem, blanditiis corporis cumque cupiditate exercitationem explicabo facere hic illo incidunt laboriosam minima nam nobis placeat quo repellendus saepe sequi sunt tempore veritatis voluptatem voluptates. A aperiam autem beatae consequatur consequuntur cum deserunt dicta eaque est facere harum id, itaque magnam maxime nam nisi nostrum perferendis perspiciatis porro quam quas quod quos repellendus reprehenderit sequi sint sit sunt vel veritatis voluptas. Aut fugit laboriosam obcaecati?
				div
					.faq__collapse
						.faq__collapse-head
							div
								p How about custom service integration and notifications?
							div
								i
						.faq__collapse-body
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aspernatur consequuntur cumque debitis eos fuga id necessitatibus nisi numquam odit, praesentium quia quidem, quo ratione reiciendis reprehenderit saepe similique sint sunt tenetur totam ut vel? Accusantium ad adipisci culpa dolor expedita, explicabo facilis in ipsa necessitatibus nisi possimus quam qui quos ratione repellat sint vel. Aperiam aut hic laboriosam nobis officiis sed totam. Fugiat incidunt nulla praesentium quia sapiente sit soluta ut! Assumenda consectetur consequuntur culpa delectus, ea eius eligendi enim, esse facere facilis harum ipsam ipsum laboriosam, nam neque perspiciatis quaerat quia quis repudiandae similique tenetur vel voluptatem?

			p.faq__desc!= "Can’t find your question? <a href='#'>Email us</a> to arrange a time to discuss. We’d love to chat!"

// SECTION :: END
