@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == anchor {
		$char: "\E001";
	}
	@if $filename == arrow {
		$char: "\E002";
	}
	@if $filename == bell {
		$char: "\E003";
	}
	@if $filename == checked-sq {
		$char: "\E004";
	}
	@if $filename == close {
		$char: "\E005";
	}
	@if $filename == eye {
		$char: "\E006";
	}
	@if $filename == image {
		$char: "\E007";
	}
	@if $filename == list {
		$char: "\E008";
	}
	@if $filename == plus-sq {
		$char: "\E009";
	}
	@if $filename == toggle {
		$char: "\E00A";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-anchor {
	@include icon(anchor);

}
.icon-arrow {
	@include icon(arrow);

}
.icon-bell {
	@include icon(bell);

}
.icon-checked-sq {
	@include icon(checked-sq);

}
.icon-close {
	@include icon(close);

}
.icon-eye {
	@include icon(eye);

}
.icon-image {
	@include icon(image);

}
.icon-list {
	@include icon(list);

}
.icon-plus-sq {
	@include icon(plus-sq);

}
.icon-toggle {
	@include icon(toggle);

}